<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>VLOL QR Code Capture</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
        <link rel="stylesheet" th:href="@{/css/site.css}"/>
        <script type="text/javascript" th:src="@{/js/html5-qrcode.min.js}"></script>
    </head>
    <body>
        <header>
            <!-- Navigation -->
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" href="/">VLOL</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="register" th:href="@{/registration}">Register</a>
                            </li>
                            <li class="nav-item">
                                <div sec:authorize="isAuthenticated()">
                                    <a class="nav-link text-dark" id="login" th:href="@{/logout}">Log out</a>
                                </div>
                                <div sec:authorize="isAnonymous()">
                                    <a class="nav-link text-dark" id="login" th:href="@{/login}">Log in</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/admin-menu">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="pb-3">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-9 mx-auto">
                        <h1>Capture the QR Code below:</h1>
                        <br />
                        <div id="reader"></div>
                        <br />
                        <a href="/admin-menu" class="btn btn-primary">Return to Administration Menu</a>
                        <br />
                    </div>
                </div>
            </div>
        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                <p class="mt-5 mb-3 text-muted text-truncate">Copyright &copy; 2020<span id="currentYear"></span> Team EMS Plus. All Rights Reserved.</p>
            </div>
        </footer>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script>
            // Set copyright ending year to current year
            var date = new Date();
            var fullYear = date.getFullYear();
            if (fullYear !== 2020) {
                document.getElementById("currentYear").innerHTML = " - " + fullYear;
            }
            function onScanSuccess(qrCodeMessage) {
                // handle on success condition with the decoded message
                // console.log(window.location.pathname + ("/edit-user.html"));
                console.log(qrCodeMessage);
                window.location.replace("/edit-user/" + qrCodeMessage);
            }
            var html5QrcodeScanner = new Html5QrcodeScanner("reader", {fps: 10, qrbox: 250});
            html5QrcodeScanner.render(onScanSuccess);
        </script>
    </body>
</html>

